.main {
  width: 300px;
  height: 350px;
  padding: 12px 7px;
  margin: 15px;
  display: flex;
  align-items: center;
  row-gap: 25px;
  flex-direction: column;
  border: 2px solid rgba(211, 211, 211);
  border-radius: 20px;
  background: rgb(234, 236, 236);
}

.top-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 65px;
  border-bottom: 1px solid rgb(179, 179, 179);
  line-height: 20px;
}

.heading-right {
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.heading-left {
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  background: linear-gradient(to right, #ed213a, #93291e);
  border: none;
  border-radius: 8px;
  outline: none;
}
.extension-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-left: 7px;
  flex-direction: column;
}
.heading {
  font-size: 19px;
  color: #0d0d0d;
}
.slogan {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.version {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: rgb(48, 48, 48);
  outline: none;
  border: none;
  border: 1px solid silver;
  border-radius: 25px;
  width: 50px;
  height: 25px;
}

.instructions {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.selections {
  width: 100%;
  height: max-content;
  display: flex;
  row-gap: 5px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.options {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.option {
  width: 60%;
  height: 42px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 18px;
  background-color: #fff;
  cursor: pointer;
  opacity: 0.7;
  transition: transform 0.3s ease, opacity 0.3s ease,
    scale 0.3s
      linear(
        0 0%,
        0 1.8%,
        0.01 3.6%,
        0.03 6.35%,
        0.07 9.1%,
        0.13 11.4%,
        0.19 13.4%,
        0.27 15%,
        0.34 16.1%,
        0.54 18.35%,
        0.66 20.6%,
        0.72 22.4%,
        0.77 24.6%,
        0.81 27.3%,
        0.85 30.4%,
        0.88 35.1%,
        0.92 40.6%,
        0.94 47.2%,
        0.96 55%,
        0.98 64%,
        0.99 74.4%,
        1 86.4%,
        1 100%
      );
}
.option:hover {
  transform: translateY(-10px);
  outline: 1px solid rgba(211, 211, 211);
  opacity: 1;
}
.option:active {
  scale: 0.9;
  outline: 1px solid rgba(211, 211, 211);
}

.info {
  font-size: 14px;
  opacity: 0;
  scale: 0.9;
  text-transform: capitalize;
  transform: translateY(-15px);
  transition: all ease 0.3s;
}

.option:hover + .info {
  color: green;
  opacity: 1;
  scale: 1;
  transform: translateY(-5px);
}
